@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main-label {
	margin-left: 40px;
}

.custom-file {
	width: 50% !important;
	display: block !important;
}

.custom-file-label {
	border-color: #ced4da !important;
}
