@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.sub-header {
	position: absolute;
	height: 28px;
	left: 64px;
	right: 32px;
	top: 24px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;

	/* identical to box height, or 140% */
	display: flex;
	align-items: center;

	/* LF / Black */
	color: #000126;
}

label {
	position: absolute;
	height: 20px;
	left: 0px;
	right: 0px;
	top: 0px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;

	/* identical to box height, or 143% */

	/* LF / Gray 1 */
	color: #333340;
}

.dropdown {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	background: rgba(255, 255, 255, 0.0001);
	border-radius: 2px;
}

.side-img {
	position: absolute;
	height: 389.86px;
	left: 32px;
	right: 24px;
	top: 24px;
}
.main-dialog {
	position: absolute;
	width: 1100px;
	height: 700px;
	left: calc(50% - 1100px / 2);
	top: 64px;

	/* LF / White */
	background: #ffffff;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}

.main-footer {
	position: absolute;
	height: 0px;
	left: 0px;
	right: 0px;
	top: 1px;

	/* LF / Gray 5 */
	border: 1px solid #e5e5e5;
}
.main-header {
	position: absolute;
	height: 68px;
	left: 0px;
	right: 0px;
	top: 0px;

	/* LF / White */
	background: #ffffff;
}
.backArrow {
	position: absolute;
	left: 16.67%;
	right: 16.67%;
	top: 25%;
	bottom: 25%;

	/* LF / Black */
	border: 2px solid #000126;
}

.main-card {
	position: absolute;
	left: 170px;
	right: 170px;
	top: 250px;
	bottom: 250px;
	overflow-y: scroll;

	/* LF / White */
	background: #ffffff;
}

.card-layout {
	/* position: absolute; */
	width: 246px;
	height: 358px;
	left: calc(50% - 246px / 2 - 393px);
	top: 0px;
	display: flex;
	flex-direction: row;

	/* LF / White */
	background: #ffffff;
	border-radius: 8px;
}

.image-section {
	position: absolute;
	height: 250px;
	left: 16px;
	right: 16px;
	top: 16px;
}
.card-desc {
	position: absolute;
	height: 40px;
	left: 16px;
	right: 16px;
	top: 278px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;

	/* or 143% */

	/* LF / Black */
	color: #000126;
}

.card-footer {
	position: absolute;
	height: 16px;
	left: 16px;
	right: 16px;
	top: 326px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;

	/* LF / Gray 2 */
	color: #676773;
}
